.formcontainer{text-align:center;}
.formitem{
padding-top:20px;
padding-bottom:20px;
width:500px;
display:inline-block;

border-style:solid;
border-color:lightblue;
border-width:1px;
}
.labelitem{
display:inline-block;
width:90%;
margin-top:5px;margin-bottom:5px;
color:lightgray;
font-size:22px;
font-family:arial;
}
.inputitem{
border-style:solid;
border-color:lightblue;
border-width:1px;
border-radius:20px;
display:inline-block;
width:90%;
margin-top:5px;margin-bottom:5px;
padding:10px;
color:lightgray;
font-size:24px;
font-family:arial;
}
.submitbutton{
background:blue;

border-style:solid;
border-color:lightblue;
border-width:1px;

display:inline-block;
width:60%;
margin-top:5px;margin-bottom:5px;
padding:10px;
color:lightgray;
font-size:22px;
font-family:arial;

}
.title{text-align:center;font-color:lightgray;
font-size:24px;font-family:arial;}