html,body{padding:0px;margin:0px;}

.siteheader{
height:600px;	
text-align:center;	
}


.siteheader_2{
height:300px;	
text-align:center;	
}

.header_title{
padding-top:100px;	
color:white;font-size:45px;
font-family:Arial;}

.header_title_2{
padding-top:10px;	
color:white;font-size:45px;
font-family:Arial;}

